.conteiner {
max-width: 1170px;
padding: 0px 15px;
margin: 0px auto;
clear: both;

}

.fl {
    float: left;

}
.fr {
    float: right;
}
header {
    background-color: #ffffffab;
    min-height: 90px;
    position: fixed;
    width: 100%;
    z-index: 500;
}
.logo {
    width: 135px;
    margin: 30px 0px 35px 35px;
}
nav ul li{
    float: left;
}
.header-box {
    overflow: auto;
}
.header-nav {
    overflow: auto;
    margin-left: 60px;
}
.menu li {
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
    margin: 40px 15px 40px;
    font-size: 12px;
    
}
.menu li a {
    text-decoration: none;
    padding-bottom: 10px;
    color: #9daeb6;
    letter-spacing: 2px;
}
.menu li a:hover {
    padding-bottom: 10px;
    border-bottom: 4px solid #36aeea;
}
.btnHeader {
    max-width: 150px;
    text-transform: uppercase;
    padding: 9px 40px;
    margin: 25px 10px;
    border: 3px solid #36aeea;
    border-radius: 5px;
    background-color: transparent;
    font-family: "Raleway";
    font-size: 12px;
    color: #36aeea;
    letter-spacing: 2px;
    
}
.btnHeader:hover {
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #36aeea;
    color: #e4f4fc;

}
.btnHeader:active {
    border: 3px solid  #e4f4fc;
    background-color: #36aeea;
    color: #e4f4fc;
    
}
.btnHeader:focus {
    border: 3px solid  #e4f4fc;
    background-color: transparent;
    color: #e4f4fc;
}
/* start stule set-1*/
.sec-1 {
    background: url(../img/photo_2021-01-17_11-13-03.jpg);
    padding: 220px 0px 150px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-1-box {
    margin: 220px 0px 150px 0px;
    padding: 40px 35px;
    border: 3px solid white;
    
}
.sec-1-title--wihte {
    display: block;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 65px;
    color: #e4f4fc;
    margin-bottom: -25px;
}
.sec-1-title--blue {
    font-family: "Bringin";
    font-size: 80px;
    color:  #56c7ff;
}
.sec-1-p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #d5dadd;
    margin: 30px 0 40px;

}
.btn {
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.btn-blue-lg {
    max-width: 250px;
    min-height: 60px;
    font-family: "Raleway";
    font-size: 14px;
    letter-spacing: 1px;
    max-width: 250px;
    min-height: 60px;
    background-color: #36aeea;
    color: white;
    border: 3px solid transparent;
    padding: 10px 70px;
    margin-top: 30px;
}
.btn-blue-lg:hover {
    background-color:transparent;
    color:  #36aeea;
    border: 3px solid  #36aeea;
}
.btn-blue-lg:active {
    background-color:transparent;
    color:  #ffffff;
    border: 3px solid  #36aeea;
}.btn-blue-lg:focus {
    background-color: #36aeea;
    color:  #ffffff;
    border: 3px solid  #ffffff;
}
/* stecion 2*/ 
.background {
    background-image: url(../img/VectorSmartObject.png);
    background-repeat: no-repeat;
    background-position: 115px 25px ;
}
.about-us {
    margin-top: 255px;
    max-width: 470px;
}

.about-us h3 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #2c2e37;
    margin-bottom: 30px;
}
.about-us p {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 14px;
    color: #949494;
}
.about-us--span {
    display: block;
    margin-bottom: 15px;
}
.girls-img {
    max-width: 800px;
    width: 100%;
    position: relative;
    left: 215px;
    top: -25px;
}
.foot-img {
    max-width: 350px;
    width: 100%;
    position: relative;
    right: -460px;
    top: -285px;
}
.about-us--btn {
    font-family: "Open Sans";
    font-weight: 700;
    color: #ffffff;
    background-color: #36aeea;
    border: 3px solid transparent;
    padding: 15px 20px;
    margin-top: 35px;
}
.about-us--btn:hover {
    background-color:transparent;
    color:  #36aeea;
    border: 3px solid  #36aeea;
}
.about-us--btn:active {
    background-color:transparent;
    color: #36aeea;
    border: 3px solid #a4b3bb;
}.about-us--btn:focus {
    background-color: #36aeea;
    color:  #ffffff;
    border: 3px solid  #ffffff;
}
/* start stule set trevel with us*/
.sec-trevel_with_us {
    height: 1075px;
    background: url(../img/Group.jpg);
    background-position:center;
    
    background-repeat: no-repeat;
    background-size: cover;

}
.trevel_with_us{
    text-align: center;
    font-family: "Open Sans";
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.trevel_with_us:before {
    content: "";
    background: url(../img/waves.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 40px;
    width: 100%;
    padding-bottom: 30px;
}
.background2 {
    height: 740px;
    background-image: url(../img/worldmap-dots.png);
    background-repeat: no-repeat;
    background-size: 1535px;
    background-position: 40% -195%;
    z-index: 400;
}
/* start trevel with us*/
.slide {
    height: 380px;
    width: 195px;
    border: 1px solid transparent;
    border-radius: 3px;
    ;
}
.slide1 {
    background-image: url(../img/slide1.jpg);
}
.slide2 {
    background-image: url(../img/slide2.jpg);
}
.slide3 {
    background-image: url(../img/slide3.jpg);
}
.slide4 {
    background-image: url(../img/slide4.jpg);
}
.slide5 {
    background-image: url(../img/slide5.jpg);
}
.icon-star {
    color: white;
    text-shadow: 0px 0px 20px black;
    margin: 15px 20px;
}
.slider-text {
    font-family: "Open Sans" ;
    font-weight: 500;
    color: #fff;
   
}
.slider-text h4 {
    text-transform: capitalize;
    font-size: 28px;
    margin: 120px 0px 25px 20px;
    
}
.slider-text p {
    font-size: 16px;
    margin: 0px 0px 0px 20px;
    line-height: 20px;
    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slider-prices1 {
    display: inline-block;
    font-family: "Open Sans";
    font-weight: 500;
    color: white;
    text-decoration: line-through;
    font-size: 18px;
    margin: 120px 0px 0px 20px;
}
.slider-prices2 {
    display: inline-block;
    font-family: "Open Sans";
    font-weight: 800;
    color: white;
    font-size: 26px;
    margin: 120px 0px 0px 40px;
}

  